a {
    color: rgb(0, 102, 0);
}

body {
    background-color: rgb(238, 238, 238);
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

blockquote {
    font-family: Georgia, serif;
}

h1, h2, h3 {
    font-family: Georgia, serif;
    size: 1em/1.2;
}
